<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<!-- Inclui todos os arquivos, excluindo o executável do serviço -->
			<Files Include="..\WSM-agent-windows-management_service\bin\Release\net8.0-windows\**">
				<Exclude Files="..\WSM-agent-windows-management_service\bin\Release\net8.0-windows\SessionService.exe" />
			</Files>
			
			<!-- Serviço Windows -->
			<Component Id="WsmAgentWindowsService" Guid="{5329DA85-22C3-476D-B7E1-473AFA5C17BE}">
				<File Source="..\WSM-agent-windows-management_service\bin\Release\net8.0-windows\SessionService.exe" KeyPath="yes" />
				<ServiceInstall
				  Id="WsmAgentWindowsServiceInstaller"
				  Type="ownProcess"
				  Vital="yes"
				  Name="WsmAgentWindowsService"
				  DisplayName="Workday Session Management Agent Windows Service"
				  Description="Workday Session Management Agent Windows Service that communicates with Session Server"
				  Start="auto"
				  Account="LocalSystem"
				  ErrorControl="normal" />
				<ServiceControl
				  Id="StartWsmAgentWindowsService"
				  Name="WsmAgentWindowsService"
				  Start="install"
				  Stop="uninstall"
				  Remove="uninstall"
				  Wait="yes" />
			</Component>
		</ComponentGroup>

		
	</Fragment>
</Wix>
