<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<Bundle Name="Workday Session Management Agent Windows"
			Manufacturer="eBZ Tecnologia"
			IconSourceFile="..\WSM-agent-windows-management_service\service.ico"
			Version="1.0.0.0"
			UpgradeCode="9e2a59b2-fa52-4210-aaff-a9c287dec651">
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
		</BootstrapperApplication>

		<Chain>
			<!-- Install .NET Runtime -->
			<ExePackage
				Id="NetCoreRuntime8"
				DisplayName=".NET 8.0 Runtime"
				SourceFile="C:\Users\Developer1\Downloads\dotnet-runtime-8.0.11-win-x64.exe"
				InstallArguments=" /quiet /norestart"
				Compressed="yes"
				PerMachine="yes"
				Vital="yes"
				DetectCondition="NetCoreRuntimeInstalled"
				UninstallArguments="/quiet /uninstall"/>

			<!-- Define the list of chained packages. -->
			<MsiPackage SourceFile="..\WSM-agent-windows-management_service_installer\bin\x64\Release\en-US\WSM-agent-windows-management_service_installer.msi"/>

		</Chain>
	</Bundle>
</Wix>
