<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
		<Files Include="..\WSM-agent-windows-desktop_agent\bin\Release\net8.0-windows10.0.17763.0\**">
			<Exclude Files="..\WSM-agent-windows-desktop_agent\bin\Release\net8.0-windows10.0.17763.0\DesktopAgent.exe" />
		</Files>

		<Component>
			<File Source="..\WSM-agent-windows-desktop_agent\bin\Release\net8.0-windows10.0.17763.0\DesktopAgent.exe" />
		</Component>
	</ComponentGroup>
  </Fragment>

	<Fragment>
		<!-- Diretório existente onde o atalho será criado -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ShortcutComponent" Guid="{5329DA85-22C3-476D-B7E1-473AFA5C17BE}">
			<!-- Atalho para o executável -->
			<Shortcut
			  Id="DesktopAgentAtalho"
			  Name="DesktopAgent - Atalho"
			  Target="[INSTALLFOLDER]DesktopAgent.exe"
			  WorkingDirectory="INSTALLFOLDER" />
			</Component>
		</DirectoryRef>
  </Fragment>
</Wix>