<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="WSM_agent_windows_desktop_agent_installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="25eec672-01df-462c-8eec-a0148b133a52">
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeError)" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="1" />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

		<Feature Id="Main">
			<ComponentGroupRef Id="ExampleComponents" />
		</Feature>
	</Package>
</Wix>
